main{
    background-image: url("https://www.worldatlas.com/r/w1200-q80/upload/f4/e0/49/shutterstock-1665254809.png");
    background-size: cover;
    background-position: bottom, center;
}

nav{
    background: #1F5084;
    position: sticky;
    top: 0;
    z-index: 100;
}

.flag-small{
    background-size: cover;
    background-position: center, center;
}

nav a:hover {
    transform: scale(1.05);
    transition: transform 0.3s;

}